/*Header*/
header {
    font-family: Ubuntu;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 20;
    background-color: #ffffff;
}

header a {
    text-decoration: none;
    color: rgb(65, 65, 65);
}

header a:hover {
    text-decoration: underline;
    color: #b6b6b6;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    font-size: 20px;
    border-bottom: 2px solid rgb(0, 0, 0);
    padding: 10px;
    transition: .3s ease-in-out;
}

.flex-container a {
    margin-right: 30px;
}

/*Main-Banner*/
.mainbox {
    padding-top: 150px;
    display: flex;
    justify-content: center;
    transition: .3s ease-in-out;
}

.main {
    display: grid;
    width: 1000px;
    grid-template-columns: 30% 30% 30%;
    background-color: aquamarine;
}

#shit {
    height: 60px;
    width: 60px;
    box-shadow: 0.7px 0.7px 3px;
}

/*Årets Utveckling*/
.container-åu {
    display: flex;
    justify-content: center;
    transition: .3s ease-in-out;
}